name: FishTrak Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    env:
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      USER: ${{ secrets.USER }}

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.11.5
      uses: actions/setup-python@v3
      with:
        python-version: "3.11.5"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Install MariaDB
      run: |
        sudo apt-get update
        sudo apt-get install -y mariadb-server
    - name: Create MariaDB User
      run: |
        sudo mysql -e "CREATE USER '$USER'@'localhost' IDENTIFIED BY '$DB_PASSWORD';"
        sudo mysql -e "GRANT ALL PRIVILEGES ON *.* TO '$USER'@'localhost';"
        sudo mysql -e "FLUSH PRIVILEGES;"
    - name: Create Database and Grant Privileges
      run: |
        sudo mysql -e "CREATE DATABASE fishtrak;"
        sudo mysql -e "GRANT ALL PRIVILEGES ON fishtrak.* TO '$USER'@'localhost';"
        sudo mysql -e "FLUSH PRIVILEGES;"
    - name: Seed fishtrak Database
      run: |
        pwd
        ls
    - name: Test with pytest
      run: |
        pytest
